* {
    /* ctrl+dois pontos = comentário */
    /* reset do CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
/* 1 rem = 16px */
/* justify-content: meche no horizontal */
/* align-items: meche na vertical */
header {
    background-image: url(./imagens/bg\ mobile.png);
    background-size: cover;
    height: 8.675rem;
    display: flex;
    justify-content: center;
    align-items: center;
}