* {
    /* ctrl+dois pontos = comentário */
    /* reset do CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
/* 1 rem = 16px */
/* justify-content: meche no horizontal */
/* align-items: meche na vertical */

:root {
    --gray-800: #1E293B;
    --gray-600: #474569;
    --purple: #7c3aed
}

header {
    background-image: url(./imagens/bg\ mobile.png);
    background-size: cover;
    height: 8.675rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.7rem;
}

main {
    padding-inline: 1.5rem;
}

.descriçao {
    margin-bottom: 2.5rem;
}

.descriçao h1 {
    color: var(--gray-800);
    margin-bottom: 1rem;
    font-size: 1.5625rem;
}

.descriçao p {
    font-size: 0.8125rem;
    color: var(--gray-600);
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login label {
    font-size: 0.875rem;
    color: var(--gray-800);
    font-weight: 600;
}

.login a {
    color: var(--purple);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
}

.login a:houver {
    text-decoration: underline;
}